# Global ignores
node_modules/
.env
.env.* 
.DS_Store
npm-debug.log*

# Frontend-specific ignores
/frontend/node_modules/
/frontend/.env
/frontend/build/
/frontend/dist/

# Backend-specific ignores
/backend/node_modules/
/backend/.env
/backend/dist/
